################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/Websocket/Server/.vs
/Websocket/Server/bin/Debug
/Websocket/Server/obj
/Websocket/Server/packages/Newtonsoft.Json.12.0.3
*.sln
/.vs/practices/v15
/.vs
